<div class="text-center">
  <h1>Let's experiment</h1>
  <p>Which nostril are you breathing from right now?  Left or Right?</p>
<div>

<hr>

<div class="container">
  <div class="row">
    <div class="col-xs-3">
      <button ng-click="incrementLeft()" 
        type="button" class="btn btn-primary btn-lg btn-block">
        Left <span class="badge">{{ data.left.length }}</span>
      </button>
    </div>

    <div class="col-xs-6">
    <figure class="figure">
      <img src="images/nose.jpg" alt="$scope.figCaption" class="img-rounded img-fluid figure-image" width="100%">
      <figcaption class="figure-caption">{{ figCaption }}</figcaption>
    </figure>
    </div>

    <div class="col-xs-3">
      <button ng-click="incrementRight()" 
        type="button" class="btn btn-info btn-lg btn-block">
        Right <span class="badge">{{ data.right.length }}</span>
      </button>
    </div>
  </div>
</div>
